<?xml version="1.0" ?>
<robot name="dual_arms" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="$(find panda_description)/urdf/panda_macro.xacro"/>
    <link name="world"/>


    <xacro:panda
        prefix="left_"
        parent="world">
        <origin xyz="0 -1.5 0" rpy="0 0 0" />
    </xacro:panda>
    <xacro:panda
        prefix="right_"
        parent="world">
        <origin xyz="0 1.5 0" rpy="0 0 0" />
    </xacro:panda>

</robot>